body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}

nav {
  background-color: #F8F0E3;
}

nav .img {
  margin-right: 15px;
}

@media screen and (max-width: 991px) {
  nav .none {
    display: none;
  }
}

.navbar .collapse .navbar-nav {
  margin: auto;
}

.navbar .collapse .navbar-nav .nav-link {
  color: #020636;
  font-size: 24px;
  font-weight: bold;
}

.navbar .collapse .navbar-nav .nav-link .active {
  color: #D65123;
}

.firstSection {
  background: #020636;
}

.firstSection .row {
  padding-top: 150px;
  padding-bottom: 250px;
}

@media screen and (max-width: 991px) {
  .firstSection .row {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1209px) {
  .firstSection .row {
    padding-bottom: 30px;
  }
}

.firstSection .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  background: rgba(248, 240, 227, 0.5);
  border-radius: 30px;
  width: 310px;
  height: 50px;
  padding-left: 5px;
}

@media screen and (max-width: 991px) {
  .firstSection .round {
    width: 270px;
  }
}

.firstSection .round h3 {
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .firstSection .round h3 {
    font-size: 12px;
  }
}

.firstSection .round img {
  margin-top: 20px;
}

.firstSection .dress {
  border: 1px solid #D65123;
  border-radius: 100%;
  padding: 0 10px;
}

.firstSection .img {
  margin-left: 20px;
}

.firstSection p {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: rgba(248, 240, 227, 0.8);
}

.firstSection h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  color: #F8F0E3;
}

@media screen and (max-width: 991px) {
  .firstSection h3 {
    font-size: 36px;
  }
}

@media screen and (max-width: 991px) {
  .firstSection .none {
    display: none;
  }
}

.secondSection {
  background-color: #F8F0E3;
}

.secondSection .iphone {
  position: absolute;
  z-index: 1;
  top: 54vw;
}

@media screen and (max-width: 1209px) {
  .secondSection .iphone {
    position: relative;
    top: 0;
    padding: 10px;
  }
}

.secondSection .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.secondSection .round h2 {
  font-weight: 800;
}

.secondSection h3 {
  font-weight: bold;
  font-size: 25px;
}

.secondSection .para {
  line-height: 30px;
}

.secondSection .btn {
  padding-bottom: 150px;
}

@media screen and (max-width: 991px) {
  .secondSection .btn {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .secondSection .none {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .secondSection .thirdSection .col-lg-7 {
    margin-bottom: 50px;
  }
}

.secondSection .thirdSection h3 {
  font-size: 45px;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .secondSection .thirdSection h3 {
    font-size: 30px;
  }
}

.secondSection .thirdSection .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 100px;
}

@media screen and (max-width: 991px) {
  .secondSection .thirdSection .round {
    padding-top: 15px;
  }
}

.secondSection .thirdSection .together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  line-height: 24px;
}

.secondSection .thirdSection .together p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: contents;
  line-height: 24px;
  font-weight: 600;
}

.secondSection .thirdSection .bnt {
  text-decoration: none;
  color: white;
  border: 1px solid #020636;
  padding: 10px 7vw;
  background-color: #020636;
  border-radius: 10px;
}

.forthSection {
  background-image: url(/Images/semicirclePlainBackground.svg);
  background-position-x: -30px;
  background-position-y: -197px;
  background-size: cover;
  background-color: #020636;
}

@media screen and (max-width: 991px) {
  .forthSection {
    background-image: none;
  }
}

.forthSection h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #F8F0E3;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .forthSection h3 {
    font-size: 30px;
  }
}

.forthSection p {
  font-size: 22px;
  line-height: 26px;
  color: #F8F0E3;
  font-weight: normal;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .forthSection p {
    font-size: 18px;
  }
}

.forthSection .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.forthSection .col-lg-12:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  padding-left: 100px;
}

.forthSection .wrapper {
  padding-top: 50px;
}

.lastSection {
  background-color: #F8F0E3;
}

.lastSection h3 {
  font-weight: bold;
  font-size: 48px;
  color: #020636;
  padding-top: 50px;
}

@media screen and (max-width: 991px) {
  .lastSection h3 {
    font-size: 30px;
  }
}

.lastSection .accordion-item {
  border: 4px solid #F8F0E3;
}

.lastSection .accordion-item .accordion-button {
  font-weight: 100;
  font-size: 25px;
}

@media screen and (max-width: 991px) {
  .lastSection .accordion-item .accordion-button {
    font-size: 20px;
  }
}

.lastSection .accordion-item .accordion-body {
  font-size: 22px;
  line-height: 26px;
}

@media screen and (max-width: 991px) {
  .lastSection .accordion-item .accordion-body {
    font-size: 18px;
  }
}
/*# sourceMappingURL=styles.css.map */