@import "./variable";
body{
    font-family: 'Nunito Sans', sans-serif;
}
nav {
  background-color: $background;
  .img{
    margin-right: 15px;
}
.none{
    @media screen and (max-width: 991px){
        display: none;
    }
}
}

.navbar .collapse .navbar-nav {
  margin: auto;
  
  .nav-link {
    color: $navlinkColor;
    font-size: 24px;
    font-weight: bold;
    .active {
      color: $navLinkActive;
    }
  }
}

