body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}

nav {
  background-color: #F8F0E3;
}

nav .img {
  margin-right: 15px;
}

@media screen and (max-width: 991px) {
  nav .none {
    display: none;
  }
}

.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .navbar {
    z-index: 2;
  }
}

.navbar .collapse .navbar-nav {
  margin: auto;
}

.navbar .collapse .navbar-nav .nav-link {
  font-size: 24px;
  font-weight: bold;
  color: #020636;
}

.navbar .collapse .navbar-nav .nav-link:active {
  color: #D65123;
}

.firstSection {
  background: #020636;
}

.firstSection .row {
  padding-top: 150px;
  padding-bottom: 250px;
}

@media screen and (max-width: 991px) {
  .firstSection .row {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1209px) {
  .firstSection .row {
    padding-bottom: 30px;
  }
}

.firstSection .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  background: rgba(248, 240, 227, 0.5);
  border-radius: 30px;
  width: 250px;
  height: 50px;
  padding-left: 5px;
}

@media screen and (max-width: 991px) {
  .firstSection .round {
    display: none;
  }
}

.firstSection .round h3 {
  font-size: 12px;
}

.firstSection .round img {
  margin-top: 20px;
}

.firstSection .dress {
  border: 1px solid #D65123;
  border-radius: 100%;
  padding: 0 10px;
}

.firstSection .img {
  margin-left: 20px;
}

.firstSection p {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: rgba(248, 240, 227, 0.8);
}

.firstSection h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  color: #F8F0E3;
}

@media screen and (max-width: 991px) {
  .firstSection h3 {
    font-size: 36px;
    padding-top: 50px;
  }
}

.firstSection .Download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 991px) {
  .firstSection .Download {
    display: none;
  }
}

.firstSection .Download img {
  width: 150px;
}

.firstSection .none {
  display: none;
}

@media screen and (max-width: 991px) {
  .firstSection .none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .firstSection .none img {
    width: 130px;
  }
}

.secondSection {
  background-color: #F8F0E3;
}

.secondSection .iphone {
  position: absolute;
  z-index: 1;
  top: 54vw;
}

@media screen and (max-width: 1209px) {
  .secondSection .iphone {
    position: relative;
    top: 0;
    padding: 10px;
  }
}

.secondSection .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 50px;
}

@media screen and (max-width: 1209px) {
  .secondSection .round {
    padding-top: 0;
  }
}

.secondSection .round h2 {
  font-weight: 800;
}

.secondSection h3 {
  font-weight: bold;
  font-size: 25px;
}

.secondSection .para {
  line-height: 30px;
}

.secondSection .btn {
  padding-bottom: 150px;
}

@media screen and (max-width: 991px) {
  .secondSection .btn {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .secondSection .none {
    display: none;
  }
}

.secondSection .thirdSection {
  padding-top: 40px;
}

@media screen and (max-width: 991px) {
  .secondSection .thirdSection {
    padding-top: 0px;
  }
}

@media screen and (max-width: 991px) {
  .secondSection .thirdSection .col-lg-7 {
    margin-bottom: 50px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 991px) {
  .secondSection .thirdSection .col-lg-5 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.secondSection .thirdSection h3 {
  font-size: 45px;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .secondSection .thirdSection h3 {
    font-size: 30px;
    font-weight: normal;
  }
}

.secondSection .thirdSection .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 100px;
}

@media screen and (max-width: 991px) {
  .secondSection .thirdSection .round {
    padding-top: 15px;
  }
}

.secondSection .thirdSection .together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  line-height: 24px;
}

.secondSection .thirdSection .together p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: contents;
  line-height: 24px;
}

.secondSection .thirdSection .bnt {
  text-decoration: none;
  color: white;
  border: 1px solid #020636;
  padding: 10px 7vw;
  background-color: #020636;
  border-radius: 10px;
}

.forthSection {
  background-image: url(/Images/semicirclePlainBackground.svg);
  background-position-x: -30px;
  background-position-y: -197px;
  background-size: cover;
  background-color: #020636;
}

@media screen and (max-width: 991px) {
  .forthSection {
    background-image: none;
  }
}

.forthSection h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  color: #F8F0E3;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .forthSection h3 {
    font-weight: normal;
    line-height: 48px;
    text-align: left;
    font-size: 30px;
  }
}

.forthSection p {
  font-size: 22px;
  line-height: 26px;
  color: #F8F0E3;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .forthSection p {
    font-size: 18px;
    text-align: left;
  }
}

.forthSection .round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

@media screen and (max-width: 991px) {
  .forthSection .round {
    padding-top: 30px;
  }
}

.forthSection .col-lg-12:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 50px;
}

@media screen and (max-width: 991px) {
  .forthSection .col-lg-12:nth-child(2) {
    padding-bottom: 0;
  }
}

.forthSection .wrapper {
  padding-top: 50px;
}

@media screen and (max-width: 991px) {
  .forthSection .vestium {
    display: none;
  }
}

.lastSection {
  background-color: #F8F0E3;
  padding-bottom: 50px;
}

.lastSection h3 {
  font-weight: bold;
  font-size: 48px;
  color: #020636;
  padding-top: 50px;
}

@media screen and (max-width: 991px) {
  .lastSection h3 {
    font-size: 30px;
  }
}

.lastSection .accordion-item {
  border: 4px solid #F8F0E3;
  background-color: #F8F0E3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lastSection .accordion-item .accordion-button {
  font-weight: 100;
  font-size: 25px;
  background-color: #F8F0E3;
}

@media screen and (max-width: 991px) {
  .lastSection .accordion-item .accordion-button {
    font-size: 20px;
  }
}

.lastSection .accordion-item .accordion-body {
  font-size: 22px;
  line-height: 26px;
}

@media screen and (max-width: 991px) {
  .lastSection .accordion-item .accordion-body {
    font-size: 18px;
  }
}

footer {
  background-color: #020636;
  padding-top: 50px;
  padding-bottom: 40px;
}

footer p {
  color: #F8F0E3;
}

footer .paragraphFooter {
  line-height: 30px;
}

footer h3 {
  color: #F8F0E3;
}

footer li {
  list-style: none;
  line-height: 42px;
}

footer li a {
  text-decoration: none;
  color: #F8F0E3;
}

footer .show {
  display: none;
}

@media screen and (max-width: 991px) {
  footer .show {
    display: block;
    padding-bottom: 50px;
  }
  footer .show img {
    width: 30px;
  }
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 991px) {
  footer .flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .none {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  padding-bottom: 30px;
}

footer .none img {
  width: 30px;
}

@media screen and (max-width: 991px) {
  footer .none {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  footer .copyright {
    font-size: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */