@import "./variable";
body {
  font-family: "Nunito Sans", sans-serif;
}
nav {
  background-color: $background;
  .img {
    margin-right: 15px;
  }
  .none {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}

.navbar .collapse .navbar-nav {
  margin: auto;

  .nav-link {
    color: $navlinkColor;
    font-size: 24px;
    font-weight: bold;
    .active {
      color: $navLinkActive;
    }
  }
}
.firstSection {
  .row {
    padding-top: 150px;
    padding-bottom: 250px;
    @media screen and (max-width: 991px) {
      padding-top: 40px;
      padding-bottom: 30px;
    }
     @media screen and (max-width: 1209px){
        padding-bottom: 30px;
     }
  }
  background: #020636;

  .round {
    display: flex;

    gap: 5px;
    background: rgba(248, 240, 227, 0.5);
    border-radius: 30px;

    width: 310px;
    height: 50px;
    padding-left: 5px;
    @media screen and (max-width: 991px) {
      width: 270px;
    }
    h3 {
      font-size: 16px;
      @media screen and (max-width: 991px) {
        font-size: 12px;
      }
    }
    img {
      margin-top: 20px;
    }
  }

  .dress {
    border: 1px solid $navLinkActive;
    border-radius: 100%;
    padding: 0 10px;
  }
  .img {
    margin-left: 20px;
  }
  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $smallTextColor;
  }
  h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    color: $background;
    @media screen and (max-width: 991px) {
      font-size: 36px;
    }
  }

  .none {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}
.secondSection{
  background-color: $background;
.iphone{
  position: absolute;
  z-index: 1;
  top: 54vw;
      @media screen and (max-width: 1209px){
        position: relative;
        top: 0;
        padding: 10px;
      }
      //     @media screen and (min-width: 991px){
      //       top: 70vw;

      //     }
      //     @media screen and (min-width: 1024px){
      //       top: 70vw;
      //     }
      //     @media screen and (min-width: 1145px){
            

      //     }
          
}
.round{
  display: flex;
  gap: 10px;
  h2{
    font-weight: 800;

  }
}
h3{
  font-weight: bold;
font-size: 25px;
}
.para{
  line-height: 30px;

}
.btn{
  padding-bottom: 150px;
      @media screen and (max-width: 991px){
        display: none;
      }
}
.none{
      @media screen and (max-width: 991px){
        display: none;
      }
}
.thirdSection{
  .col-lg-7{
     @media screen and (max-width: 991px){
       margin-bottom: 50px;
     }
  }
h3{
  font-size: 45px;
  font-weight: bold;
   @media screen and (max-width: 991px){
     font-size: 30px;
   }
  
}


  .round{
    display: flex;
    gap: 10px;
    padding-top: 100px;
     @media screen and (max-width: 991px){
       padding-top: 15px;
     }
  }
  .together{
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 24px;
    p{
      align-items: center;
      display: contents;
      line-height: 24px;
      font-weight: 600;
    }
  }
.bnt{
  text-decoration: none;
  color: white;
  border: 1px solid $textMainColor;
  padding: 10px 7vw;
  background-color: $textMainColor;
  border-radius: 10px;
}
}

}
